a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }
  .header {
    background-color: purple;
    color: white;
  }
  .body {
    background-color: white;
    color: purple;
  }
  .form-control {
    border: 1px solid purple;
    box-shadow: 0 0 10px purple;
  }
  .footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .content {
    padding-bottom: 60px;
  }
  .votes {
    color: purple;
  }

  /* css for the hall of fame (outer the box inner the list) */
  #rankings {
    overflow-y: scroll;
    text-align: center;
    border: 1px solid purple;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px purple;
    color: purple;
  }
  #rankings > div {
    border-top: 1px solid purple; 
    margin: 5px;
    padding: 5px;
    text-align: left;
  
}